body {
	background-color: #00EEFF;
}

header {
	color: #ED3E69;
	text-align: center;
	margin-bottom: -6px;
	font-size: 10px;
}

nav {
	background-color: #50F250;
	overflow: hidden;
}
nav ul li {
	color: #FFFFFF;
	font-size: 20px;
	list-style-type: none;
	display: inline;
}
nav ul li a {
	color: #ED3E69;
	text-decoration: none;
	text-align: center;
	padding: 14px 16px;
}
nav ul li a:hover {
	background-color: #FFFFFF;
	color: #000000;
}

p {
	color: #ED3E69;
	font-family: cursive;
}

.page_header h1 {
	color: #ED3E69;
	text-align: center;
	margin-top: -6px;
	margin-bottom: -6px;
	font-family: Impact;
	font-size: 50px;
	font-weight: bold;
}
.page_header p {
	text-align: center;
	margin-top: -6px;
	font-family: Arial;
	font-size: 15px;
}

.about {
	margin-left: 30px;
}
.about h2 {
	color: #ED3E69;
	text-align: left;
	font-family: sans-serif;
	font-size: 20px
	font-weight: bold;
}
.about p {
	text-indent: 2.0em;
	margin-left: 20px;
	margin-right: 50px;
}
.about ul{
	color: #8A34E0;
	margin-top: -10px;
	margin-left: 50px;
}

.month {
	padding: 70px 25px;
	width: 100%;
	background: $1ABC9C;
	text-align: center;
}
.month ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.month ul li {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.month .prev {
	float: left;
	padding-top: 10px;
}
.month .next {
	float: right;
	padding-top: 10px;
}

.weekdays {
	margin-right: 0px;
	margin-left: 50px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #DDDDDD;
}
.weekdays li {
	display: inline-block;
	width: 13.6%;
	color: #666666;
	text-align: center;
}

.days {
	padding: 10px 0px;
	margin-right: 0px;
	margin-left: 50px;
	background: #EEEEEE;
}
.days li {
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	text-align: center;
	margin-bottom: 5px;
	font-size: 12px;
	color: #777777;
}
.days li .active {
	padding: 5px;
	background: #1ABC9C;
	color: white !important;
}